<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/style.css')}}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<h1>Welcome to the great game</h1>
	<h2>I am thinking of a number between 1 and 100</h2>
	<h3>Take a guess</h3>
	<form action="/result" method="post">
		<div class="high">Too high</div>
		<div class="low">Too low</div>
		<div class="win">Ding Ding</div>
		<input class="inBox" type="number" name="box">
		<input type="submit" name="Submit">
	</form>

</body>
</html>
